
<body class="container mt-4">

    <h2 class="mb-3 text-center">Çalışan Performans Değerlendirmesi</h2>
    
    <!-- Arama Kutusu -->
    <input type="text" class="form-control mb-4" placeholder="Çalışan Ara..." disabled>

    <div class="row">
        @for(performance of performances; track $index){
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{(performance.employee.name + " " + performance.employee.surname)}}</h5>
                        <p class="card-text">{{department[performance.employee.department]}}</p>
                        <h4 class="badge status-good p-2">{{getPerformanceRating(performance.overallScore)}}</h4>
                        <div class="stars">
                            @for(star of getStars(performance.overallScore); track $index){
                                <span class="star">&#9733;</span>
                        }
                        </div>
                        <div class="more-info mt-3">
                            <p><strong>Çalışma Performansı Puanı:</strong> {{performance.workPerformanceScore}}</p>
                            <p><strong>Takım Çalışması Puanı:</strong> {{performance.teamworkScore}}</p>
                            <p><strong>İletişim Puanı:</strong> {{performance.communicationScore}}</p>
                            <p><strong>Liderlik Puanı:</strong> {{performance.leadershipScore}}</p>
                            <p><strong>Genel Performans Puanı:</strong> {{performance.overallScore}}</p>
                            <p><strong>Değerlendirme Başlangıç Tarihi:</strong> {{performance.reviewStartDate | date: "dd.MM.yyyy"}}</p>
                            <p><strong>Değerlendirme Bitiş Tarihi:</strong> {{performance.reviewEndDate | date: "dd.MM.yyyy"}}</p>
                            <p><strong>Geri Bildirim:</strong> {{performance.feedBack }}</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
