<div class="d-flex justify-content-center" style="margin-top: 75px;">
    <div class="col-md-3">
        <div class="card">
    <div class="card-header">
        <h1 class="text-center">Şifre Degiştirme Sayfası</h1>
    </div>
    <div class="card-body">
        <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)" >
            <div class="form-group mt-2">
                <label for="currentpassword">Mevcut Şifre</label>
                <input class="form-control" type="password" ngModel name="currentpassword" id="currentpassword" required minlength="3" #currentpassword [appValid]="currentpassword.validity.valid">
                <div class="invalid-feedback">Mevcutt Şifre alanı boş olamaz!</div>
            </div>
            <div class="form-group mt-2">
                <label for="newpassword">Yeni Şifre</label>
                <input class="form-control" type="password" ngModel name="newpassword" id="newpassword" required minlength="3" #newPassword="ngModel">
                <div class="invalid-feedback" >Yeni Şifre alanı boş olamaz!</div>
              </div>
            
              <div class="form-group mt-2">
                <label for="confirmpassword">Yeni Şifre Tekrar</label>
                <input class="form-control" type="password" ngModel name="confirmpassword" id="confirmpassword" required minlength="3"
                       #confirmPassword="ngModel" [class.is-invalid]="confirmPassword.touched && newPassword.value !== confirmPassword.value">
                <div class="invalid-feedback" *ngIf="confirmPassword.touched && newPassword.value !== confirmPassword.value">
                  Şifreler eşleşmiyor!
                </div>
              </div>
            <div class="form-group mt-2">
                <button [disabled]="newPassword.value !== confirmPassword.value" class="btn btn-outline-primary w-100">Şifre Degiştir</button>
            </div>
        </form>
    </div>
        </div>
    </div>
    </div>
    
