<div class="container">
    <div class="header-container d-flex align-items-center justify-content-between">

        @if(role == "HumanResources") {
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Ekle
            </button>
            }
            <h2 class="title mb-0 mx-auto">Çalişanlar</h2>
            <div class="col-md-4" style="float: right; padding: 5px;">
                <input type="search" [(ngModel)]="search" class="form-control" placeholder="Aranacak Deger Yazınız..."
                    (ngModelChange)="getAllWithPaginaion()">
            </div>
    </div>
    <div class="form-group">
        <app-table [heads]='["#","Adı Soyad","Departmant","Pozisyon","Email","Telefon","İşe Başlangıç"]'>
            @for (employee of employees.data; track $index) {
            <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ employee.name + employee.surname}}</td>
                <td>{{ departmentEnum[employee.department] }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.hireDate | date: "dd.MMM.yyyy"}}</td>
                @if(role == "Admin" || role == "Manager" || role == "HumanResources") {
                <td>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#editModal" (click)="detailEmployee(employee)">Detay</button>
                    }
                    }
        </app-table>
        <!--Pagination-->
        <select name="pageSize" id="pageSize" [(ngModel)]="employees.pageSize" style="width: 65px; float: left;">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
        <nav style="float: right;">
            <ul class="pagination">
                <li class="page-item" [ngClass]="employees.isFirstPage ? 'disabled' : ''">
                    <a class="page-link" (click)="getAllWithPaginaion(1)">İlk</a>
                </li>
                <li class="page-item" [ngClass]="employees.isFirstPage ? 'disabled' : ''">
                    <a class="page-link" (click)="getAllWithPaginaion(employees.pageNumber - 1)">Önceki</a>
                </li>
                @for (p of pageNumber; track $index) {
                <li class="page-item">
                    <a class="page-link" [ngClass]="employees.pageNumber == p ? 'active' : ''"
                        (click)="getAllWithPaginaion(p)">{{p}}</a>
                </li>
                }
                <li class="page-item" [ngClass]="employees.isLastPage ? 'disabled' : ''">
                    <a class="page-link" (click)="getAllWithPaginaion(employees.pageNumber + 1)">Sonraki</a>
                </li>
                <li class="page-item" [ngClass]="employees.isLastPage ? 'disabled' : ''">
                    <a class="page-link" (click)="getAllWithPaginaion(employees.totalCount)">Son</a>
                </li>
            </ul>
        </nav>
        <!--Pagination-->
    </div>
</div>

<!-- Ekleme Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Çalişan Ekle</h1>
                <button type="button" id="addModalCloseBtn" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form #addForm="ngForm" (ngSubmit)="add(addForm)">
                <div class="modal-body">
                    <div class="form-group" style="padding: 5px;">
                        <label for="name">Çalişan Adı: </label>
                        <input type="text" ngModel name="name" id="name" class="form-control" #name
                            [appValid]="name.validity.valid" required minlength="3">
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="surname">Çalişan Soyadı: </label>
                        <input type="text" ngModel name="surname" id="surname" class="form-control" #surname
                            [appValid]="surname.validity.valid" required minlength="3">
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="phone">Çalişan Tel: </label>
                        <input type="textß" ngModel name="phone" id="phone" class="form-control" #phone
                            [appValid]="phone.validity.valid" required minlength="10">
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="surname">Çalişan email: </label>
                        <input type="email" ngModel name="email" id="email" class="form-control" #email
                            [appValid]="email.validity.valid" required email minlength="3">
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="gender">Çalişan Cinsiyet</label>
                        <select class="form-control" name="gender" id="gender" ngModel #gender>
                            <option>Seçiniz...</option>
                            <option value="1">Kız</option>
                            <option value="2">Erkek</option>
                        </select>
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="address">Çalişan Adres: </label>
                        <input type="text" ngModel name="address" id="address" class="form-control" #address
                            [appValid]="address.validity.valid" required minlength="3">
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="address">Çalişan Doğum Tarihi: </label>
                        <input type="date" ngModel name="dateofbirth" id="dateofbirth" class="form-control" #dateofbirth
                            [appValid]="dateofbirth.validity.valid" required>
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="position">Çalişan Pozisyonu: </label>
                        <input type="text" ngModel name="position" id="position" class="form-control" #position
                            [appValid]="position.validity.valid" required minlength="3">
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="department">Çalişan Departman</label>
                        <select class="form-control" name="department" id="department" ngModel #department>
                            <option>Seçiniz...</option>
                            <option value="1">Çalişan</option>
                            <option value="2">İnsan Kaynakları</option>
                            <option value="3">Müdür</option>
                        </select>
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="hiredate">Çalişan İşe Giriş Tarihi: </label>
                        <input type="date" ngModel name="hiredate" id="hiredate" class="form-control" #hiredate
                            [appValid]="hiredate.validity.valid" required>
                    </div>
                    <div class="form-group" style="padding: 5px;">
                        <label for="salary">Çalişan Maaş: </label>
                        <input type="number" ngModel name="salary" id="salary" class="form-control" #salary
                            [appValid]="salary.validity.valid" required minlength="3">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close-modal" class="btn btn-secondary"
                        data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>